.idea/
*.iml

.env
sonar-project.properties

devtools/smoke-api.ps1

target/
**/target/

*.class
*.log

.scannerwork/

hs_err_pid*
replay_pid*

frontend/**/node_modules/
frontend/**/dist/
frontend/**/.angular/
